<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog : Archive</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/archive.css') }}">
</head>
<body>
    <!-- Common : Header -->
    <header>
        <div class="navigate">
            <div class="navigate_left">
                <a href="{{ url_for('index') }}">Main</a>
                <a href="{{ url_for('archive') }}">Archive</a>
                <a href="{{ url_for('post') }}">Post</a>
            </div>
            <div class="navigate_right">
                <div id="username"></div>
                <a href="{{ url_for('login') }}" id="authenticate_link">Log In</a>
            </div>
        </div>
    </header>

    <!-- Not Common : Main -->
    <main>
        <div class="archive">
            <div class="archive_filter">
                <div class="archive_filter_title">Browse By Date</div>

                <ul class="archive_filter_list">
                    <!-- JS : Archive Filter List -->
                </ul>
            </div>

            <div class="archive_content">
                <div class="archive_content_title">Archive</div>

                <div class="archive_content_list">
                    <!-- JS : Archive Content List -->
                </div>
            </div>
        </div>

        <div class="pages">
            <button onclick="previousPage()">Previous</button>
            <div class="page_list">
                <!-- JS : Page List -->
            </div>
            <button onclick="nextPage()">Next</button>
        </div>
    </main>

    <!-- Common : Footer -->
     <footer>
        <p>2025</p>
    </footer>

    <script src="{{ url_for('static', filename='JS/utility.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/archive.js') }}"></script>
</body>
</html>